.modal_filling_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_filling_exit {
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 16px;
    height: 20px;
    border-radius: 5px;
    color: black;
    justify-content: center;

}

.modal_filling_submit {
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 16px;
    height: 20px;
    border-radius: 5px;
    color: black;
    justify-content: center;

}

.modal_filling_input {
    width: 83%;
    background: white;
    border-radius: 5px;
    margin-top: 5px;
    height: 20px;
}
