.MyDefaultButton {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 22px;
    height: 50px;
    font-weight: 400;
    border-radius: 5px;
    color: black;
}

.MyDefaultButton:hover {
    transform: scale(1.05);
    transition: ease 0.2s;
}
